table {
    width: 100%;
    border-collapse: collapse;
    margin-top:2rem;
    font-size: 1.2rem;
}
  
  th, td {
    border: 1px solid white;
    padding: 5px;
    text-align: left;
  }

  .info{
    margin-top: 1rem;
  }

  .output{
    display: flex;
    gap: 2rem;
  }


@media (max-width:650px) {
  .output{
    flex-direction: column;
  }
}